# Remove .sample to activate this file
#
# Use this file to control common settings for all stages.
# 

# This user is the primary user 
# might be an Admin or OrgAdmin
# username=orgAdminUserABC
# password=orgAdminPassword

# Admin-Credentials to use, when tool is started without 
# an admin account. If an admin-account is provided this is ignored.
admin_username=apiadmin
admin_password=changeme

# Hostname the API-Manager is listening
# host=api-manager.customer.com

# Port the API-Manager is listening. Defaults to 8075
# port=8175

# Control how breaking changes should be applied. Defaults to false
# force=true

# Should defined quotas being used or not. Defaults to false
# ignoreQuotas=true

# Controls how configured Client-Applications are treated. Defaults to add!
# clientAppsMode=replace
# clientAppsMode=ignore
# clientAppsMode=add

# Controls how configured Client-Organizations are treated. Defaults to add!
# clientOrgsMode=replace
# clientOrgsMode=ignore
# clientOrgsMode=add

# Controls how configured Quotas are treated. Defaults to add!
# quotaMode=add
# quotaMode=ignore
# quotaMode=replace

# If set, the tool wont load the env.properties. Defaults to false.
# ignoreAdminAccount=true

# Controls if you would like to allow to replace or set the host parameter in the Swagger-File 
# based on the configured backendBasepath. This is turned on by default!
# replaceHostInSwagger=false

# Normally, in case of an error created BE- or FE-API is rolled back, so that the 
# API-Manager stays in a clean state. With that parameter you can turn off rollback if needed.
# rollback=false