/target/
.classpath
.settings/
.project
.metadata
/test-output/

# Exclude files in all modules

/modules/**/target/
/modules/**/.project
/modules/**/.classpath
/modules/**/.settings/
/modules/**/test-output/

/distribution/**/target/
