<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<Configuration>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%highlight{%d [%c{1}] %-5level: %msg%n%throwable}{STYLE=Logback}"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.axway.apim" level="${env:LOG_LEVEL:-info}" />

		<Logger name="com.consol.citrus" level="info" />
		<Logger name="org.apache" level="info" />
		<Logger name="org.ehcache" level="error" />

		<Root level="info">
			<AppenderRef ref="STDOUT"/>
		</Root>
	</Loggers>
</Configuration>