{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "OData Service",
    "description" : "The OData Service from northwind-odata-v2.xml$metadata",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://myhost.customer.com:8767/api/v1/myAPI/"
  } ],
  "paths" : {
    "/Categories*" : {
      "get" : {
        "tags" : [ "Categories" ],
        "summary" : "Get Categories",
        "description" : "Returns the entity: Categories. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Categories supports the following navigational properties: [Products]<br />For example: .../Categories(Entity-Id)/<b>Products</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Products"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "CategoryID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "CategoryID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Categories",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/Categories({Id})*" : {
      "get" : {
        "tags" : [ "Categories" ],
        "summary" : "Get Categories on Id",
        "description" : "Returns the entity: Categories. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Categories supports the following navigational properties: [Products]<br />For example: .../Categories(Entity-Id)/<b>Products</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Products"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "CategoryID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Categories",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Category"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Categories" ],
        "summary" : "Create a new entity Categories",
        "description" : "Create a new entity in EntitySet: Categories",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Category"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet Categories",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Categories" ],
        "summary" : "Delete Categories",
        "description" : "Delete entity in EntitySet Categories",
        "responses" : {
          "204" : {
            "description" : "EntitySet Categories successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Categories" ],
        "summary" : "Update entity Categories",
        "description" : "Update an existing entity in EntitySet: Categories",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Category"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet Categories",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: CategoryID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/CustomerDemographics*" : {
      "get" : {
        "tags" : [ "CustomerDemographics" ],
        "summary" : "Get CustomerDemographics",
        "description" : "Returns the entity: CustomerDemographics. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: CustomerDemographics supports the following navigational properties: [Customers]<br />For example: .../CustomerDemographics(Entity-Id)/<b>Customers</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Customers"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "CustomerTypeID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "CustomerTypeID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet CustomerDemographics",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/CustomerDemographic"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/CustomerDemographics({Id})*" : {
      "get" : {
        "tags" : [ "CustomerDemographics" ],
        "summary" : "Get CustomerDemographics on Id",
        "description" : "Returns the entity: CustomerDemographics. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: CustomerDemographics supports the following navigational properties: [Customers]<br />For example: .../CustomerDemographics(Entity-Id)/<b>Customers</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Customers"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "CustomerTypeID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet CustomerDemographics",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerDemographic"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "CustomerDemographics" ],
        "summary" : "Create a new entity CustomerDemographics",
        "description" : "Create a new entity in EntitySet: CustomerDemographics",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CustomerDemographic"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet CustomerDemographics",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "CustomerDemographics" ],
        "summary" : "Delete CustomerDemographics",
        "description" : "Delete entity in EntitySet CustomerDemographics",
        "responses" : {
          "204" : {
            "description" : "EntitySet CustomerDemographics successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "CustomerDemographics" ],
        "summary" : "Update entity CustomerDemographics",
        "description" : "Update an existing entity in EntitySet: CustomerDemographics",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CustomerDemographic"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet CustomerDemographics",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: CustomerTypeID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/Customers*" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "Get Customers",
        "description" : "Returns the entity: Customers. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Customers supports the following navigational properties: [Orders, CustomerDemographics]<br />For example: .../Customers(Entity-Id)/<b>Orders</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Orders"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "CustomerID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "CustomerID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Customers",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Customer"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/Customers({Id})*" : {
      "get" : {
        "tags" : [ "Customers" ],
        "summary" : "Get Customers on Id",
        "description" : "Returns the entity: Customers. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Customers supports the following navigational properties: [Orders, CustomerDemographics]<br />For example: .../Customers(Entity-Id)/<b>Orders</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Orders"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "CustomerID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Customers",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Customer"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Customers" ],
        "summary" : "Create a new entity Customers",
        "description" : "Create a new entity in EntitySet: Customers",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Customer"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet Customers",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Customers" ],
        "summary" : "Delete Customers",
        "description" : "Delete entity in EntitySet Customers",
        "responses" : {
          "204" : {
            "description" : "EntitySet Customers successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Customers" ],
        "summary" : "Update entity Customers",
        "description" : "Update an existing entity in EntitySet: Customers",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Customer"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet Customers",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: CustomerID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/Employees*" : {
      "get" : {
        "tags" : [ "Employees" ],
        "summary" : "Get Employees",
        "description" : "Returns the entity: Employees. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Employees supports the following navigational properties: [Employees1, Employee1, Orders, Territories]<br />For example: .../Employees(Entity-Id)/<b>Employees1</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Employees1"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "EmployeeID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "EmployeeID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Employees",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Employee"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/Employees({Id})*" : {
      "get" : {
        "tags" : [ "Employees" ],
        "summary" : "Get Employees on Id",
        "description" : "Returns the entity: Employees. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Employees supports the following navigational properties: [Employees1, Employee1, Orders, Territories]<br />For example: .../Employees(Entity-Id)/<b>Employees1</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Employees1"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "EmployeeID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Employees",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Employee"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Employees" ],
        "summary" : "Create a new entity Employees",
        "description" : "Create a new entity in EntitySet: Employees",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Employee"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet Employees",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Employees" ],
        "summary" : "Delete Employees",
        "description" : "Delete entity in EntitySet Employees",
        "responses" : {
          "204" : {
            "description" : "EntitySet Employees successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Employees" ],
        "summary" : "Update entity Employees",
        "description" : "Update an existing entity in EntitySet: Employees",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Employee"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet Employees",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: EmployeeID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/Order_Details*" : {
      "get" : {
        "tags" : [ "Order_Details" ],
        "summary" : "Get Order_Details",
        "description" : "Returns the entity: Order_Details. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Order_Details supports the following navigational properties: [Order, Product]<br />For example: .../Order_Details(Entity-Id)/<b>Order</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Order"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "OrderID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "OrderID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Order_Details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Order_Detail"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/Order_Details({Id})*" : {
      "get" : {
        "tags" : [ "Order_Details" ],
        "summary" : "Get Order_Details on Id",
        "description" : "Returns the entity: Order_Details. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Order_Details supports the following navigational properties: [Order, Product]<br />For example: .../Order_Details(Entity-Id)/<b>Order</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Order"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "OrderID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Order_Details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order_Detail"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Order_Details" ],
        "summary" : "Create a new entity Order_Details",
        "description" : "Create a new entity in EntitySet: Order_Details",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Order_Detail"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet Order_Details",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Order_Details" ],
        "summary" : "Delete Order_Details",
        "description" : "Delete entity in EntitySet Order_Details",
        "responses" : {
          "204" : {
            "description" : "EntitySet Order_Details successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Order_Details" ],
        "summary" : "Update entity Order_Details",
        "description" : "Update an existing entity in EntitySet: Order_Details",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Order_Detail"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet Order_Details",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: OrderID, ProductID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/Orders*" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Get Orders",
        "description" : "Returns the entity: Orders. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Orders supports the following navigational properties: [Customer, Employee, Order_Details, Shipper]<br />For example: .../Orders(Entity-Id)/<b>Customer</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Customer"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "OrderID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "OrderID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Orders",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Order"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/Orders({Id})*" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Get Orders on Id",
        "description" : "Returns the entity: Orders. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Orders supports the following navigational properties: [Customer, Employee, Order_Details, Shipper]<br />For example: .../Orders(Entity-Id)/<b>Customer</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Customer"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "OrderID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Orders",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Order"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Orders" ],
        "summary" : "Create a new entity Orders",
        "description" : "Create a new entity in EntitySet: Orders",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Order"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet Orders",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Orders" ],
        "summary" : "Delete Orders",
        "description" : "Delete entity in EntitySet Orders",
        "responses" : {
          "204" : {
            "description" : "EntitySet Orders successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Orders" ],
        "summary" : "Update entity Orders",
        "description" : "Update an existing entity in EntitySet: Orders",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Order"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet Orders",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: OrderID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/Products*" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get Products",
        "description" : "Returns the entity: Products. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Products supports the following navigational properties: [Category, Order_Details, Supplier]<br />For example: .../Products(Entity-Id)/<b>Category</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Category"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "ProductID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "ProductID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Products",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/Products({Id})*" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get Products on Id",
        "description" : "Returns the entity: Products. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Products supports the following navigational properties: [Category, Order_Details, Supplier]<br />For example: .../Products(Entity-Id)/<b>Category</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Category"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "ProductID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Products",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Product"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Products" ],
        "summary" : "Create a new entity Products",
        "description" : "Create a new entity in EntitySet: Products",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Product"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet Products",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Products" ],
        "summary" : "Delete Products",
        "description" : "Delete entity in EntitySet Products",
        "responses" : {
          "204" : {
            "description" : "EntitySet Products successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Products" ],
        "summary" : "Update entity Products",
        "description" : "Update an existing entity in EntitySet: Products",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Product"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet Products",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: ProductID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/Regions*" : {
      "get" : {
        "tags" : [ "Regions" ],
        "summary" : "Get Regions",
        "description" : "Returns the entity: Regions. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Regions supports the following navigational properties: [Territories]<br />For example: .../Regions(Entity-Id)/<b>Territories</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Territories"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "RegionID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "RegionID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Regions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Region"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/Regions({Id})*" : {
      "get" : {
        "tags" : [ "Regions" ],
        "summary" : "Get Regions on Id",
        "description" : "Returns the entity: Regions. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Regions supports the following navigational properties: [Territories]<br />For example: .../Regions(Entity-Id)/<b>Territories</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Territories"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "RegionID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Regions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Region"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Regions" ],
        "summary" : "Create a new entity Regions",
        "description" : "Create a new entity in EntitySet: Regions",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Region"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet Regions",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Regions" ],
        "summary" : "Delete Regions",
        "description" : "Delete entity in EntitySet Regions",
        "responses" : {
          "204" : {
            "description" : "EntitySet Regions successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Regions" ],
        "summary" : "Update entity Regions",
        "description" : "Update an existing entity in EntitySet: Regions",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Region"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet Regions",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: RegionID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/Shippers*" : {
      "get" : {
        "tags" : [ "Shippers" ],
        "summary" : "Get Shippers",
        "description" : "Returns the entity: Shippers. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Shippers supports the following navigational properties: [Orders]<br />For example: .../Shippers(Entity-Id)/<b>Orders</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Orders"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "ShipperID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "ShipperID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Shippers",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Shipper"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/Shippers({Id})*" : {
      "get" : {
        "tags" : [ "Shippers" ],
        "summary" : "Get Shippers on Id",
        "description" : "Returns the entity: Shippers. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Shippers supports the following navigational properties: [Orders]<br />For example: .../Shippers(Entity-Id)/<b>Orders</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Orders"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "ShipperID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Shippers",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Shipper"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Shippers" ],
        "summary" : "Create a new entity Shippers",
        "description" : "Create a new entity in EntitySet: Shippers",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Shipper"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet Shippers",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Shippers" ],
        "summary" : "Delete Shippers",
        "description" : "Delete entity in EntitySet Shippers",
        "responses" : {
          "204" : {
            "description" : "EntitySet Shippers successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Shippers" ],
        "summary" : "Update entity Shippers",
        "description" : "Update an existing entity in EntitySet: Shippers",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Shipper"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet Shippers",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: ShipperID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/Suppliers*" : {
      "get" : {
        "tags" : [ "Suppliers" ],
        "summary" : "Get Suppliers",
        "description" : "Returns the entity: Suppliers. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Suppliers supports the following navigational properties: [Products]<br />For example: .../Suppliers(Entity-Id)/<b>Products</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Products"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "SupplierID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "SupplierID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Suppliers",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Supplier"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/Suppliers({Id})*" : {
      "get" : {
        "tags" : [ "Suppliers" ],
        "summary" : "Get Suppliers on Id",
        "description" : "Returns the entity: Suppliers. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Suppliers supports the following navigational properties: [Products]<br />For example: .../Suppliers(Entity-Id)/<b>Products</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Products"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "SupplierID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Suppliers",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Supplier"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Suppliers" ],
        "summary" : "Create a new entity Suppliers",
        "description" : "Create a new entity in EntitySet: Suppliers",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Supplier"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet Suppliers",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Suppliers" ],
        "summary" : "Delete Suppliers",
        "description" : "Delete entity in EntitySet Suppliers",
        "responses" : {
          "204" : {
            "description" : "EntitySet Suppliers successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Suppliers" ],
        "summary" : "Update entity Suppliers",
        "description" : "Update an existing entity in EntitySet: Suppliers",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Supplier"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet Suppliers",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: SupplierID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/Territories*" : {
      "get" : {
        "tags" : [ "Territories" ],
        "summary" : "Get Territories",
        "description" : "Returns the entity: Territories. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Territories supports the following navigational properties: [Region, Employees]<br />For example: .../Territories(Entity-Id)/<b>Region</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Region"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "TerritoryID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "TerritoryID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Territories",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Territory"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/Territories({Id})*" : {
      "get" : {
        "tags" : [ "Territories" ],
        "summary" : "Get Territories on Id",
        "description" : "Returns the entity: Territories. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: Territories supports the following navigational properties: [Region, Employees]<br />For example: .../Territories(Entity-Id)/<b>Region</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "Region"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "TerritoryID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Territories",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Territory"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Territories" ],
        "summary" : "Create a new entity Territories",
        "description" : "Create a new entity in EntitySet: Territories",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Territory"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet Territories",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Territories" ],
        "summary" : "Delete Territories",
        "description" : "Delete entity in EntitySet Territories",
        "responses" : {
          "204" : {
            "description" : "EntitySet Territories successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Territories" ],
        "summary" : "Update entity Territories",
        "description" : "Update an existing entity in EntitySet: Territories",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Territory"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet Territories",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: TerritoryID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/Alphabetical_list_of_products*" : {
      "get" : {
        "tags" : [ "Alphabetical_list_of_products" ],
        "summary" : "Get Alphabetical_list_of_products",
        "description" : "Returns the entity: Alphabetical_list_of_products. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: Alphabetical_list_of_products supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "ProductID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "ProductID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Alphabetical_list_of_products",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Alphabetical_list_of_product"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/Alphabetical_list_of_products({Id})*" : {
      "get" : {
        "tags" : [ "Alphabetical_list_of_products" ],
        "summary" : "Get Alphabetical_list_of_products on Id",
        "description" : "Returns the entity: Alphabetical_list_of_products. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: Alphabetical_list_of_products supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "ProductID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Alphabetical_list_of_products",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Alphabetical_list_of_product"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Alphabetical_list_of_products" ],
        "summary" : "Create a new entity Alphabetical_list_of_products",
        "description" : "Create a new entity in EntitySet: Alphabetical_list_of_products",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Alphabetical_list_of_product"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet Alphabetical_list_of_products",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Alphabetical_list_of_products" ],
        "summary" : "Delete Alphabetical_list_of_products",
        "description" : "Delete entity in EntitySet Alphabetical_list_of_products",
        "responses" : {
          "204" : {
            "description" : "EntitySet Alphabetical_list_of_products successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Alphabetical_list_of_products" ],
        "summary" : "Update entity Alphabetical_list_of_products",
        "description" : "Update an existing entity in EntitySet: Alphabetical_list_of_products",
        "requestBody" : {
[...]
