{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "OData Service",
    "description" : "The OData Service from https://services.odata.org/V2/(S(owef4vwcosio0xpu1glpf320))/OData/OData.svc/$metadata",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://myhost.customer.com:8767/api/v1/myAPI/"
  } ],
  "paths" : {
    "/A_AddressEmailAddress*" : {
      "get" : {
        "tags" : [ "Email Address" ],
        "summary" : "Get A_AddressEmailAddress",
        "description" : "Returns the entity: A_AddressEmailAddress. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_AddressEmailAddress supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "AddressID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "AddressID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_AddressEmailAddress",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/A_AddressEmailAddressType"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/A_AddressEmailAddress({Id})*" : {
      "get" : {
        "tags" : [ "Email Address" ],
        "summary" : "Get A_AddressEmailAddress on Id",
        "description" : "Returns the entity: A_AddressEmailAddress. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_AddressEmailAddress supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "AddressID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_AddressEmailAddress",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/A_AddressEmailAddressType"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Email Address" ],
        "summary" : "Create a new entity A_AddressEmailAddress",
        "description" : "Create a new entity in EntitySet: A_AddressEmailAddress",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_AddressEmailAddressType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet A_AddressEmailAddress",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Email Address" ],
        "summary" : "Delete A_AddressEmailAddress",
        "description" : "Delete entity in EntitySet A_AddressEmailAddress",
        "responses" : {
          "204" : {
            "description" : "EntitySet A_AddressEmailAddress successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Email Address" ],
        "summary" : "Update entity A_AddressEmailAddress",
        "description" : "Update an existing entity in EntitySet: A_AddressEmailAddress",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_AddressEmailAddressType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet A_AddressEmailAddress",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: AddressID, Person, OrdinalNumber",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/A_AddressFaxNumber*" : {
      "get" : {
        "tags" : [ "Fax Number" ],
        "summary" : "Get A_AddressFaxNumber",
        "description" : "Returns the entity: A_AddressFaxNumber. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_AddressFaxNumber supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "AddressID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "AddressID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_AddressFaxNumber",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/A_AddressFaxNumberType"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/A_AddressFaxNumber({Id})*" : {
      "get" : {
        "tags" : [ "Fax Number" ],
        "summary" : "Get A_AddressFaxNumber on Id",
        "description" : "Returns the entity: A_AddressFaxNumber. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_AddressFaxNumber supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "AddressID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_AddressFaxNumber",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/A_AddressFaxNumberType"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Fax Number" ],
        "summary" : "Create a new entity A_AddressFaxNumber",
        "description" : "Create a new entity in EntitySet: A_AddressFaxNumber",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_AddressFaxNumberType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet A_AddressFaxNumber",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Fax Number" ],
        "summary" : "Delete A_AddressFaxNumber",
        "description" : "Delete entity in EntitySet A_AddressFaxNumber",
        "responses" : {
          "204" : {
            "description" : "EntitySet A_AddressFaxNumber successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Fax Number" ],
        "summary" : "Update entity A_AddressFaxNumber",
        "description" : "Update an existing entity in EntitySet: A_AddressFaxNumber",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_AddressFaxNumberType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet A_AddressFaxNumber",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: AddressID, Person, OrdinalNumber",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/A_AddressHomePageURL*" : {
      "get" : {
        "tags" : [ "Home Page URL" ],
        "summary" : "Get A_AddressHomePageURL",
        "description" : "Returns the entity: A_AddressHomePageURL. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_AddressHomePageURL supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "AddressID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "AddressID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_AddressHomePageURL",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/A_AddressHomePageURLType"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/A_AddressHomePageURL({Id})*" : {
      "get" : {
        "tags" : [ "Home Page URL" ],
        "summary" : "Get A_AddressHomePageURL on Id",
        "description" : "Returns the entity: A_AddressHomePageURL. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_AddressHomePageURL supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "AddressID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_AddressHomePageURL",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/A_AddressHomePageURLType"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Home Page URL" ],
        "summary" : "Create a new entity A_AddressHomePageURL",
        "description" : "Create a new entity in EntitySet: A_AddressHomePageURL",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_AddressHomePageURLType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet A_AddressHomePageURL",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Home Page URL" ],
        "summary" : "Delete A_AddressHomePageURL",
        "description" : "Delete entity in EntitySet A_AddressHomePageURL",
        "responses" : {
          "204" : {
            "description" : "EntitySet A_AddressHomePageURL successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Home Page URL" ],
        "summary" : "Update entity A_AddressHomePageURL",
        "description" : "Update an existing entity in EntitySet: A_AddressHomePageURL",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_AddressHomePageURLType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet A_AddressHomePageURL",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: AddressID, Person, OrdinalNumber, ValidityStartDate, IsDefaultURLAddress",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/A_AddressPhoneNumber*" : {
      "get" : {
        "tags" : [ "Phone Number" ],
        "summary" : "Get A_AddressPhoneNumber",
        "description" : "Returns the entity: A_AddressPhoneNumber. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_AddressPhoneNumber supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "AddressID"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "AddressID"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_AddressPhoneNumber",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/A_AddressPhoneNumberType"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/A_AddressPhoneNumber({Id})*" : {
      "get" : {
        "tags" : [ "Phone Number" ],
        "summary" : "Get A_AddressPhoneNumber on Id",
        "description" : "Returns the entity: A_AddressPhoneNumber. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_AddressPhoneNumber supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "AddressID"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_AddressPhoneNumber",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/A_AddressPhoneNumberType"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Phone Number" ],
        "summary" : "Create a new entity A_AddressPhoneNumber",
        "description" : "Create a new entity in EntitySet: A_AddressPhoneNumber",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_AddressPhoneNumberType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet A_AddressPhoneNumber",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Phone Number" ],
        "summary" : "Delete A_AddressPhoneNumber",
        "description" : "Delete entity in EntitySet A_AddressPhoneNumber",
        "responses" : {
          "204" : {
            "description" : "EntitySet A_AddressPhoneNumber successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Phone Number" ],
        "summary" : "Update entity A_AddressPhoneNumber",
        "description" : "Update an existing entity in EntitySet: A_AddressPhoneNumber",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_AddressPhoneNumberType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet A_AddressPhoneNumber",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: AddressID, Person, OrdinalNumber",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/A_BPContactToAddress*" : {
      "get" : {
        "tags" : [ "Contact Person Address" ],
        "summary" : "Get A_BPContactToAddress",
        "description" : "Returns the entity: A_BPContactToAddress. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: A_BPContactToAddress supports the following navigational properties: [to_EmailAddress, to_FaxNumber, to_MobilePhoneNumber, to_PhoneNumber, to_URLAddress]<br />For example: .../A_BPContactToAddress(Entity-Id)/<b>to_EmailAddress</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "to_EmailAddress"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "RelationshipNumber"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "RelationshipNumber"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BPContactToAddress",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/A_BPContactToAddressType"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/A_BPContactToAddress({Id})*" : {
      "get" : {
        "tags" : [ "Contact Person Address" ],
        "summary" : "Get A_BPContactToAddress on Id",
        "description" : "Returns the entity: A_BPContactToAddress. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: A_BPContactToAddress supports the following navigational properties: [to_EmailAddress, to_FaxNumber, to_MobilePhoneNumber, to_PhoneNumber, to_URLAddress]<br />For example: .../A_BPContactToAddress(Entity-Id)/<b>to_EmailAddress</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "to_EmailAddress"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "RelationshipNumber"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BPContactToAddress",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/A_BPContactToAddressType"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Contact Person Address" ],
        "summary" : "Create a new entity A_BPContactToAddress",
        "description" : "Create a new entity in EntitySet: A_BPContactToAddress",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_BPContactToAddressType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet A_BPContactToAddress",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Contact Person Address" ],
        "summary" : "Delete A_BPContactToAddress",
        "description" : "Delete entity in EntitySet A_BPContactToAddress",
        "responses" : {
          "204" : {
            "description" : "EntitySet A_BPContactToAddress successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Contact Person Address" ],
        "summary" : "Update entity A_BPContactToAddress",
        "description" : "Update an existing entity in EntitySet: A_BPContactToAddress",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_BPContactToAddressType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BPContactToAddress",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: RelationshipNumber, BusinessPartnerCompany, BusinessPartnerPerson, ValidityEndDate, AddressID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/A_BPContactToFuncAndDept*" : {
      "get" : {
        "tags" : [ "Function and Department" ],
        "summary" : "Get A_BPContactToFuncAndDept",
        "description" : "Returns the entity: A_BPContactToFuncAndDept. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_BPContactToFuncAndDept supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "RelationshipNumber"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "RelationshipNumber"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BPContactToFuncAndDept",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/A_BPContactToFuncAndDeptType"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/A_BPContactToFuncAndDept({Id})*" : {
      "get" : {
        "tags" : [ "Function and Department" ],
        "summary" : "Get A_BPContactToFuncAndDept on Id",
        "description" : "Returns the entity: A_BPContactToFuncAndDept. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_BPContactToFuncAndDept supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "RelationshipNumber"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BPContactToFuncAndDept",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/A_BPContactToFuncAndDeptType"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Function and Department" ],
        "summary" : "Create a new entity A_BPContactToFuncAndDept",
        "description" : "Create a new entity in EntitySet: A_BPContactToFuncAndDept",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_BPContactToFuncAndDeptType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet A_BPContactToFuncAndDept",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Function and Department" ],
        "summary" : "Delete A_BPContactToFuncAndDept",
        "description" : "Delete entity in EntitySet A_BPContactToFuncAndDept",
        "responses" : {
          "204" : {
            "description" : "EntitySet A_BPContactToFuncAndDept successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Function and Department" ],
        "summary" : "Update entity A_BPContactToFuncAndDept",
        "description" : "Update an existing entity in EntitySet: A_BPContactToFuncAndDept",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_BPContactToFuncAndDeptType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BPContactToFuncAndDept",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: RelationshipNumber, BusinessPartnerCompany, BusinessPartnerPerson, ValidityEndDate",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/A_BuPaAddressUsage*" : {
      "get" : {
        "tags" : [ "Address Usage" ],
        "summary" : "Get A_BuPaAddressUsage",
        "description" : "Returns the entity: A_BuPaAddressUsage. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_BuPaAddressUsage supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BuPaAddressUsage",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/A_BuPaAddressUsageType"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/A_BuPaAddressUsage({Id})*" : {
      "get" : {
        "tags" : [ "Address Usage" ],
        "summary" : "Get A_BuPaAddressUsage on Id",
        "description" : "Returns the entity: A_BuPaAddressUsage. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_BuPaAddressUsage supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BuPaAddressUsage",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/A_BuPaAddressUsageType"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Address Usage" ],
        "summary" : "Create a new entity A_BuPaAddressUsage",
        "description" : "Create a new entity in EntitySet: A_BuPaAddressUsage",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_BuPaAddressUsageType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet A_BuPaAddressUsage",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Address Usage" ],
        "summary" : "Delete A_BuPaAddressUsage",
        "description" : "Delete entity in EntitySet A_BuPaAddressUsage",
        "responses" : {
          "204" : {
            "description" : "EntitySet A_BuPaAddressUsage successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Address Usage" ],
        "summary" : "Update entity A_BuPaAddressUsage",
        "description" : "Update an existing entity in EntitySet: A_BuPaAddressUsage",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_BuPaAddressUsageType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BuPaAddressUsage",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: BusinessPartner, ValidityEndDate, AddressUsage, AddressID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/A_BuPaIdentification*" : {
      "get" : {
        "tags" : [ "Identification" ],
        "summary" : "Get A_BuPaIdentification",
        "description" : "Returns the entity: A_BuPaIdentification. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_BuPaIdentification supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BuPaIdentification",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/A_BuPaIdentificationType"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/A_BuPaIdentification({Id})*" : {
      "get" : {
        "tags" : [ "Identification" ],
        "summary" : "Get A_BuPaIdentification on Id",
        "description" : "Returns the entity: A_BuPaIdentification. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_BuPaIdentification supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BuPaIdentification",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/A_BuPaIdentificationType"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Identification" ],
        "summary" : "Create a new entity A_BuPaIdentification",
        "description" : "Create a new entity in EntitySet: A_BuPaIdentification",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_BuPaIdentificationType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet A_BuPaIdentification",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Identification" ],
        "summary" : "Delete A_BuPaIdentification",
        "description" : "Delete entity in EntitySet A_BuPaIdentification",
        "responses" : {
          "204" : {
            "description" : "EntitySet A_BuPaIdentification successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Identification" ],
        "summary" : "Update entity A_BuPaIdentification",
        "description" : "Update an existing entity in EntitySet: A_BuPaIdentification",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_BuPaIdentificationType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BuPaIdentification",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: BusinessPartner, BPIdentificationType, BPIdentificationNumber",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/A_BuPaIndustry*" : {
      "get" : {
        "tags" : [ "Industry" ],
        "summary" : "Get A_BuPaIndustry",
        "description" : "Returns the entity: A_BuPaIndustry. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_BuPaIndustry supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "IndustrySector"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "IndustrySector"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BuPaIndustry",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/A_BuPaIndustryType"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/A_BuPaIndustry({Id})*" : {
      "get" : {
        "tags" : [ "Industry" ],
        "summary" : "Get A_BuPaIndustry on Id",
        "description" : "Returns the entity: A_BuPaIndustry. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_BuPaIndustry supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "IndustrySector"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BuPaIndustry",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/A_BuPaIndustryType"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Industry" ],
        "summary" : "Create a new entity A_BuPaIndustry",
        "description" : "Create a new entity in EntitySet: A_BuPaIndustry",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_BuPaIndustryType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet A_BuPaIndustry",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Industry" ],
        "summary" : "Delete A_BuPaIndustry",
        "description" : "Delete entity in EntitySet A_BuPaIndustry",
        "responses" : {
          "204" : {
            "description" : "EntitySet A_BuPaIndustry successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Industry" ],
        "summary" : "Update entity A_BuPaIndustry",
        "description" : "Update an existing entity in EntitySet: A_BuPaIndustry",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_BuPaIndustryType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BuPaIndustry",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: IndustrySector, IndustrySystemType, BusinessPartner",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/A_BusinessPartner*" : {
      "get" : {
        "tags" : [ "Business Partner" ],
        "summary" : "Get A_BusinessPartner",
        "description" : "Returns the entity: A_BusinessPartner. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: A_BusinessPartner supports the following navigational properties: [to_BuPaIdentification, to_BuPaIndustry, to_BusinessPartnerAddress, to_BusinessPartnerBank, to_BusinessPartnerContact, to_BusinessPartnerRole, to_BusinessPartnerTax, to_Customer, to_Supplier]<br />For example: .../A_BusinessPartner(Entity-Id)/<b>to_BuPaIdentification</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "to_BuPaIdentification"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BusinessPartner",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/A_BusinessPartnerType"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/A_BusinessPartner({Id})*" : {
      "get" : {
        "tags" : [ "Business Partner" ],
        "summary" : "Get A_BusinessPartner on Id",
        "description" : "Returns the entity: A_BusinessPartner. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: A_BusinessPartner supports the following navigational properties: [to_BuPaIdentification, to_BuPaIndustry, to_BusinessPartnerAddress, to_BusinessPartnerBank, to_BusinessPartnerContact, to_BusinessPartnerRole, to_BusinessPartnerTax, to_Customer, to_Supplier]<br />For example: .../A_BusinessPartner(Entity-Id)/<b>to_BuPaIdentification</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "to_BuPaIdentification"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BusinessPartner",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/A_BusinessPartnerType"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Business Partner" ],
        "summary" : "Create a new entity A_BusinessPartner",
        "description" : "Create a new entity in EntitySet: A_BusinessPartner",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_BusinessPartnerType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet A_BusinessPartner",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Business Partner" ],
        "summary" : "Delete A_BusinessPartner",
        "description" : "Delete entity in EntitySet A_BusinessPartner",
        "responses" : {
          "204" : {
            "description" : "EntitySet A_BusinessPartner successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Business Partner" ],
        "summary" : "Update entity A_BusinessPartner",
        "description" : "Update an existing entity in EntitySet: A_BusinessPartner",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_BusinessPartnerType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BusinessPartner",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: BusinessPartner",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/A_BusinessPartnerAddress*" : {
      "get" : {
        "tags" : [ "Address" ],
        "summary" : "Get A_BusinessPartnerAddress",
        "description" : "Returns the entity: A_BusinessPartnerAddress. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: A_BusinessPartnerAddress supports the following navigational properties: [to_AddressUsage, to_EmailAddress, to_FaxNumber, to_MobilePhoneNumber, to_PhoneNumber, to_URLAddress]<br />For example: .../A_BusinessPartnerAddress(Entity-Id)/<b>to_AddressUsage</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "to_AddressUsage"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BusinessPartnerAddress",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/A_BusinessPartnerAddressType"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/A_BusinessPartnerAddress({Id})*" : {
      "get" : {
        "tags" : [ "Address" ],
        "summary" : "Get A_BusinessPartnerAddress on Id",
        "description" : "Returns the entity: A_BusinessPartnerAddress. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br /><br />The entity: A_BusinessPartnerAddress supports the following navigational properties: [to_AddressUsage, to_EmailAddress, to_FaxNumber, to_MobilePhoneNumber, to_PhoneNumber, to_URLAddress]<br />For example: .../A_BusinessPartnerAddress(Entity-Id)/<b>to_AddressUsage</b>/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          },
          "example" : "to_AddressUsage"
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BusinessPartnerAddress",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/A_BusinessPartnerAddressType"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Address" ],
        "summary" : "Create a new entity A_BusinessPartnerAddress",
        "description" : "Create a new entity in EntitySet: A_BusinessPartnerAddress",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_BusinessPartnerAddressType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet A_BusinessPartnerAddress",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Address" ],
        "summary" : "Delete A_BusinessPartnerAddress",
        "description" : "Delete entity in EntitySet A_BusinessPartnerAddress",
        "responses" : {
          "204" : {
            "description" : "EntitySet A_BusinessPartnerAddress successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Address" ],
        "summary" : "Update entity A_BusinessPartnerAddress",
        "description" : "Update an existing entity in EntitySet: A_BusinessPartnerAddress",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/A_BusinessPartnerAddressType"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BusinessPartnerAddress",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: BusinessPartner, AddressID",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/A_BusinessPartnerBank*" : {
      "get" : {
        "tags" : [ "Bank" ],
        "summary" : "Get A_BusinessPartnerBank",
        "description" : "Returns the entity: A_BusinessPartnerBank. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_BusinessPartnerBank supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.5. Filter System Query Option ($filter)</a> for more information.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values. See <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">4.2. Orderby System Query Option ($orderby)</a> for more information.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BusinessPartnerBank",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/A_BusinessPartnerBankType"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/A_BusinessPartnerBank({Id})*" : {
      "get" : {
        "tags" : [ "Bank" ],
        "summary" : "Get A_BusinessPartnerBank on Id",
        "description" : "Returns the entity: A_BusinessPartnerBank. For more information using the query parameters please see: <a target=\"_blank\" href=\"https://www.odata.org/documentation/odata-version-2-0/uri-conventions/\">URI Conventions (OData Version 2.0)</a><br />The entity: A_BusinessPartnerBank supports <b>no</b> navigational properties.",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "The syntax of a $expand query option is a comma-separated list of Navigation Properties. Additionally each Navigation Property can be followed by a forward slash and another Navigation Property to enable identifying a multi-level relationship.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "The value of a $select System Query Option is a comma-separated list of selection clauses. Each selection clause may be a Property name, Navigation Property name, or the \"*\" character.",
          "schema" : {
            "type" : "string"
          },
          "example" : "BusinessPartner"
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format if supported by the backend service.",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet A_BusinessPartnerBank",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/A_BusinessPartnerBankType"
                }
              }
            }
[...]
