{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "OData Service",
    "description" : "The OData Service from https://services.odata.org/V2/(S(owef4vwcosio0xpu1glpf320))/OData/OData.svc/$metadata",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://myhost.customer.com:8767/api/v1/myAPI/"
  } ],
  "paths" : {
    "/CreateBusinessPartnerWithConsent" : {
      "post" : {
        "tags" : [ "Service operations" ],
        "parameters" : [ {
          "name" : "DataSubjectId",
          "in" : "query",
          "required" : false,
          "schema" : {
            "maxLength" : 128,
            "type" : "string"
          }
        }, {
          "name" : "TemplateName",
          "in" : "query",
          "required" : true,
          "schema" : {
            "maxLength" : 30,
            "type" : "string"
          }
        }, {
          "name" : "LanguageCode",
          "in" : "query",
          "required" : true,
          "schema" : {
            "maxLength" : 5,
            "type" : "string"
          }
        }, {
          "name" : "DataSubjectTypeName",
          "in" : "query",
          "required" : true,
          "schema" : {
            "maxLength" : 30,
            "type" : "string"
          }
        }, {
          "name" : "DataSubjectDescription",
          "in" : "query",
          "required" : false,
          "schema" : {
            "maxLength" : 255,
            "type" : "string"
          }
        }, {
          "name" : "ValidFrom",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "GrantedBy",
          "in" : "query",
          "required" : false,
          "schema" : {
            "maxLength" : 128,
            "type" : "string"
          }
        }, {
          "name" : "GrantedAt",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "SubmissionSite",
          "in" : "query",
          "required" : false,
          "schema" : {
            "maxLength" : 128,
            "type" : "string"
          }
        }, {
          "name" : "BusinessPartner",
          "in" : "query",
          "required" : false,
          "schema" : {
            "maxLength" : 10,
            "type" : "string"
          }
        }, {
          "name" : "AuthorizationGroup",
          "in" : "query",
          "required" : true,
          "schema" : {
            "maxLength" : 4,
            "type" : "string"
          }
        }, {
          "name" : "Category",
          "in" : "query",
          "required" : true,
          "schema" : {
            "maxLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "LastName",
          "in" : "query",
          "required" : false,
          "schema" : {
            "maxLength" : 40,
            "type" : "string"
          }
        }, {
          "name" : "OrganizationName",
          "in" : "query",
          "required" : false,
          "schema" : {
            "maxLength" : 40,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "BusinessPartnerWithConsent",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BusinessPartnerWithConsent"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/Address*" : {
      "get" : {
        "tags" : [ "Address" ],
        "summary" : "Get Address",
        "description" : "Returns the EntitySet: Address<br /><br />The entity: Address supports the following navigational properties: <br />to_WorkplaceAddress, to_Email, to_MobilePhone, to_LandlinePhone, to_Fax, to_Web, to_PostalAddress, to_Person, to_Organization, to_DefaultPostalAddress, to_DefaultEmail, to_DefaultMobilePhone, to_DefaultLandlinePhone, to_DefaultFax, to_DefaultWeb, to_DefaultPerson, to_DefaultOrganization, to_DefaultWorkplaceAddress, to_Parent<br />For example: .../Address(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Address",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Address"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/Address({Id})*" : {
      "get" : {
        "tags" : [ "Address" ],
        "summary" : "Get Address on Id",
        "description" : "Returns the EntitySet: Address<br /><br />The entity: Address supports the following navigational properties: <br />to_WorkplaceAddress, to_Email, to_MobilePhone, to_LandlinePhone, to_Fax, to_Web, to_PostalAddress, to_Person, to_Organization, to_DefaultPostalAddress, to_DefaultEmail, to_DefaultMobilePhone, to_DefaultLandlinePhone, to_DefaultFax, to_DefaultWeb, to_DefaultPerson, to_DefaultOrganization, to_DefaultWorkplaceAddress, to_Parent<br />For example: .../Address(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet Address",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Address"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Address" ],
        "summary" : "Create a new entity Address",
        "description" : "Create a new entity in EntitySet: Address",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Address"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet Address",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Address" ],
        "summary" : "Delete Address",
        "description" : "Delete entity in EntitySet Address",
        "responses" : {
          "204" : {
            "description" : "EntitySet Address successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "Address" ],
        "summary" : "Update entity Address",
        "description" : "Update an existing entity in EntitySet: Address",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Address"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet Address",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: Id",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/AddressIndependentCommunication*" : {
      "get" : {
        "tags" : [ "AddressIndependentCommunication" ],
        "summary" : "Get AddressIndependentCommunication",
        "description" : "Returns the EntitySet: AddressIndependentCommunication<br /><br />The entity: AddressIndependentCommunication supports the following navigational properties: <br />to_AddressIndependentLandlinePhone, to_AddressIndependentMobilePhone, to_AddressIndependentFax, to_AddressIndependentEmail, to_AddressIndependentWeb<br />For example: .../AddressIndependentCommunication(1)/to_AddressIndependentWeb/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentCommunication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddressIndependentCommunication"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/AddressIndependentCommunication({Id})*" : {
      "get" : {
        "tags" : [ "AddressIndependentCommunication" ],
        "summary" : "Get AddressIndependentCommunication on Id",
        "description" : "Returns the EntitySet: AddressIndependentCommunication<br /><br />The entity: AddressIndependentCommunication supports the following navigational properties: <br />to_AddressIndependentLandlinePhone, to_AddressIndependentMobilePhone, to_AddressIndependentFax, to_AddressIndependentEmail, to_AddressIndependentWeb<br />For example: .../AddressIndependentCommunication(1)/to_AddressIndependentWeb/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentCommunication",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddressIndependentCommunication"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "AddressIndependentCommunication" ],
        "summary" : "Create a new entity AddressIndependentCommunication",
        "description" : "Create a new entity in EntitySet: AddressIndependentCommunication",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentCommunication"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet AddressIndependentCommunication",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AddressIndependentCommunication" ],
        "summary" : "Delete AddressIndependentCommunication",
        "description" : "Delete entity in EntitySet AddressIndependentCommunication",
        "responses" : {
          "204" : {
            "description" : "EntitySet AddressIndependentCommunication successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AddressIndependentCommunication" ],
        "summary" : "Update entity AddressIndependentCommunication",
        "description" : "Update an existing entity in EntitySet: AddressIndependentCommunication",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentCommunication"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentCommunication",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: Id",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/AddressIndependentEmail*" : {
      "get" : {
        "tags" : [ "AddressIndependentEmail" ],
        "summary" : "Get AddressIndependentEmail",
        "description" : "Returns the EntitySet: AddressIndependentEmail<br /><br />The entity: AddressIndependentEmail supports the following navigational properties: <br />to_EmailNote, to_Parent<br />For example: .../AddressIndependentEmail(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentEmail",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddressIndependentEmail"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/AddressIndependentEmail({Id})*" : {
      "get" : {
        "tags" : [ "AddressIndependentEmail" ],
        "summary" : "Get AddressIndependentEmail on Id",
        "description" : "Returns the EntitySet: AddressIndependentEmail<br /><br />The entity: AddressIndependentEmail supports the following navigational properties: <br />to_EmailNote, to_Parent<br />For example: .../AddressIndependentEmail(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentEmail",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddressIndependentEmail"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "AddressIndependentEmail" ],
        "summary" : "Create a new entity AddressIndependentEmail",
        "description" : "Create a new entity in EntitySet: AddressIndependentEmail",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentEmail"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet AddressIndependentEmail",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AddressIndependentEmail" ],
        "summary" : "Delete AddressIndependentEmail",
        "description" : "Delete entity in EntitySet AddressIndependentEmail",
        "responses" : {
          "204" : {
            "description" : "EntitySet AddressIndependentEmail successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AddressIndependentEmail" ],
        "summary" : "Update entity AddressIndependentEmail",
        "description" : "Update an existing entity in EntitySet: AddressIndependentEmail",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentEmail"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentEmail",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: Id",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/AddressIndependentEmailAddressDummy*" : {
      "get" : {
        "tags" : [ "AddressIndependentEmailAddressDummy" ],
        "summary" : "Get AddressIndependentEmailAddressDummy",
        "description" : "Returns the EntitySet: AddressIndependentEmailAddressDummy<br /><br />The entity: AddressIndependentEmailAddressDummy supports the following navigational properties: <br />to_EmailNote, to_Parent<br />For example: .../AddressIndependentEmailAddressDummy(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentEmailAddressDummy",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddressIndependentEmailAddressDummy"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/AddressIndependentEmailAddressDummy({Id})*" : {
      "get" : {
        "tags" : [ "AddressIndependentEmailAddressDummy" ],
        "summary" : "Get AddressIndependentEmailAddressDummy on Id",
        "description" : "Returns the EntitySet: AddressIndependentEmailAddressDummy<br /><br />The entity: AddressIndependentEmailAddressDummy supports the following navigational properties: <br />to_EmailNote, to_Parent<br />For example: .../AddressIndependentEmailAddressDummy(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentEmailAddressDummy",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddressIndependentEmailAddressDummy"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "AddressIndependentEmailAddressDummy" ],
        "summary" : "Create a new entity AddressIndependentEmailAddressDummy",
        "description" : "Create a new entity in EntitySet: AddressIndependentEmailAddressDummy",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentEmailAddressDummy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet AddressIndependentEmailAddressDummy",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AddressIndependentEmailAddressDummy" ],
        "summary" : "Delete AddressIndependentEmailAddressDummy",
        "description" : "Delete entity in EntitySet AddressIndependentEmailAddressDummy",
        "responses" : {
          "204" : {
            "description" : "EntitySet AddressIndependentEmailAddressDummy successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AddressIndependentEmailAddressDummy" ],
        "summary" : "Update entity AddressIndependentEmailAddressDummy",
        "description" : "Update an existing entity in EntitySet: AddressIndependentEmailAddressDummy",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentEmailAddressDummy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentEmailAddressDummy",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: Id",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/AddressIndependentFaxNumber*" : {
      "get" : {
        "tags" : [ "AddressIndependentFaxNumber" ],
        "summary" : "Get AddressIndependentFaxNumber",
        "description" : "Returns the EntitySet: AddressIndependentFaxNumber<br /><br />The entity: AddressIndependentFaxNumber supports the following navigational properties: <br />to_FaxNote, to_Parent<br />For example: .../AddressIndependentFaxNumber(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentFaxNumber",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddressIndependentFaxNumber"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/AddressIndependentFaxNumber({Id})*" : {
      "get" : {
        "tags" : [ "AddressIndependentFaxNumber" ],
        "summary" : "Get AddressIndependentFaxNumber on Id",
        "description" : "Returns the EntitySet: AddressIndependentFaxNumber<br /><br />The entity: AddressIndependentFaxNumber supports the following navigational properties: <br />to_FaxNote, to_Parent<br />For example: .../AddressIndependentFaxNumber(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentFaxNumber",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddressIndependentFaxNumber"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "AddressIndependentFaxNumber" ],
        "summary" : "Create a new entity AddressIndependentFaxNumber",
        "description" : "Create a new entity in EntitySet: AddressIndependentFaxNumber",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentFaxNumber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet AddressIndependentFaxNumber",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AddressIndependentFaxNumber" ],
        "summary" : "Delete AddressIndependentFaxNumber",
        "description" : "Delete entity in EntitySet AddressIndependentFaxNumber",
        "responses" : {
          "204" : {
            "description" : "EntitySet AddressIndependentFaxNumber successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AddressIndependentFaxNumber" ],
        "summary" : "Update entity AddressIndependentFaxNumber",
        "description" : "Update an existing entity in EntitySet: AddressIndependentFaxNumber",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentFaxNumber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentFaxNumber",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: Id",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/AddressIndependentFaxNumberDummy*" : {
      "get" : {
        "tags" : [ "AddressIndependentFaxNumberDummy" ],
        "summary" : "Get AddressIndependentFaxNumberDummy",
        "description" : "Returns the EntitySet: AddressIndependentFaxNumberDummy<br /><br />The entity: AddressIndependentFaxNumberDummy supports the following navigational properties: <br />to_FaxNote, to_Parent<br />For example: .../AddressIndependentFaxNumberDummy(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentFaxNumberDummy",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddressIndependentFaxNumberDummy"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/AddressIndependentFaxNumberDummy({Id})*" : {
      "get" : {
        "tags" : [ "AddressIndependentFaxNumberDummy" ],
        "summary" : "Get AddressIndependentFaxNumberDummy on Id",
        "description" : "Returns the EntitySet: AddressIndependentFaxNumberDummy<br /><br />The entity: AddressIndependentFaxNumberDummy supports the following navigational properties: <br />to_FaxNote, to_Parent<br />For example: .../AddressIndependentFaxNumberDummy(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentFaxNumberDummy",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddressIndependentFaxNumberDummy"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "AddressIndependentFaxNumberDummy" ],
        "summary" : "Create a new entity AddressIndependentFaxNumberDummy",
        "description" : "Create a new entity in EntitySet: AddressIndependentFaxNumberDummy",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentFaxNumberDummy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet AddressIndependentFaxNumberDummy",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AddressIndependentFaxNumberDummy" ],
        "summary" : "Delete AddressIndependentFaxNumberDummy",
        "description" : "Delete entity in EntitySet AddressIndependentFaxNumberDummy",
        "responses" : {
          "204" : {
            "description" : "EntitySet AddressIndependentFaxNumberDummy successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AddressIndependentFaxNumberDummy" ],
        "summary" : "Update entity AddressIndependentFaxNumberDummy",
        "description" : "Update an existing entity in EntitySet: AddressIndependentFaxNumberDummy",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentFaxNumberDummy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentFaxNumberDummy",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: Id",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/AddressIndependentPhoneNumber*" : {
      "get" : {
        "tags" : [ "AddressIndependentPhoneNumber" ],
        "summary" : "Get AddressIndependentPhoneNumber",
        "description" : "Returns the EntitySet: AddressIndependentPhoneNumber<br /><br />The entity: AddressIndependentPhoneNumber supports the following navigational properties: <br />to_PhoneNote, to_Parent<br />For example: .../AddressIndependentPhoneNumber(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentPhoneNumber",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddressIndependentPhoneNumber"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/AddressIndependentPhoneNumber({Id})*" : {
      "get" : {
        "tags" : [ "AddressIndependentPhoneNumber" ],
        "summary" : "Get AddressIndependentPhoneNumber on Id",
        "description" : "Returns the EntitySet: AddressIndependentPhoneNumber<br /><br />The entity: AddressIndependentPhoneNumber supports the following navigational properties: <br />to_PhoneNote, to_Parent<br />For example: .../AddressIndependentPhoneNumber(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentPhoneNumber",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddressIndependentPhoneNumber"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "AddressIndependentPhoneNumber" ],
        "summary" : "Create a new entity AddressIndependentPhoneNumber",
        "description" : "Create a new entity in EntitySet: AddressIndependentPhoneNumber",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentPhoneNumber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet AddressIndependentPhoneNumber",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AddressIndependentPhoneNumber" ],
        "summary" : "Delete AddressIndependentPhoneNumber",
        "description" : "Delete entity in EntitySet AddressIndependentPhoneNumber",
        "responses" : {
          "204" : {
            "description" : "EntitySet AddressIndependentPhoneNumber successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AddressIndependentPhoneNumber" ],
        "summary" : "Update entity AddressIndependentPhoneNumber",
        "description" : "Update an existing entity in EntitySet: AddressIndependentPhoneNumber",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentPhoneNumber"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentPhoneNumber",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: Id",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/AddressIndependentPhoneNumberDummy*" : {
      "get" : {
        "tags" : [ "AddressIndependentPhoneNumberDummy" ],
        "summary" : "Get AddressIndependentPhoneNumberDummy",
        "description" : "Returns the EntitySet: AddressIndependentPhoneNumberDummy<br /><br />The entity: AddressIndependentPhoneNumberDummy supports the following navigational properties: <br />to_PhoneNote, to_Parent<br />For example: .../AddressIndependentPhoneNumberDummy(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentPhoneNumberDummy",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddressIndependentPhoneNumberDummy"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/AddressIndependentPhoneNumberDummy({Id})*" : {
      "get" : {
        "tags" : [ "AddressIndependentPhoneNumberDummy" ],
        "summary" : "Get AddressIndependentPhoneNumberDummy on Id",
        "description" : "Returns the EntitySet: AddressIndependentPhoneNumberDummy<br /><br />The entity: AddressIndependentPhoneNumberDummy supports the following navigational properties: <br />to_PhoneNote, to_Parent<br />For example: .../AddressIndependentPhoneNumberDummy(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentPhoneNumberDummy",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddressIndependentPhoneNumberDummy"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "AddressIndependentPhoneNumberDummy" ],
        "summary" : "Create a new entity AddressIndependentPhoneNumberDummy",
        "description" : "Create a new entity in EntitySet: AddressIndependentPhoneNumberDummy",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentPhoneNumberDummy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet AddressIndependentPhoneNumberDummy",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AddressIndependentPhoneNumberDummy" ],
        "summary" : "Delete AddressIndependentPhoneNumberDummy",
        "description" : "Delete entity in EntitySet AddressIndependentPhoneNumberDummy",
        "responses" : {
          "204" : {
            "description" : "EntitySet AddressIndependentPhoneNumberDummy successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AddressIndependentPhoneNumberDummy" ],
        "summary" : "Update entity AddressIndependentPhoneNumberDummy",
        "description" : "Update an existing entity in EntitySet: AddressIndependentPhoneNumberDummy",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentPhoneNumberDummy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentPhoneNumberDummy",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: Id",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/AddressIndependentWeb*" : {
      "get" : {
        "tags" : [ "AddressIndependentWeb" ],
        "summary" : "Get AddressIndependentWeb",
        "description" : "Returns the EntitySet: AddressIndependentWeb<br /><br />The entity: AddressIndependentWeb supports the following navigational properties: <br />to_WebNote, to_Parent<br />For example: .../AddressIndependentWeb(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentWeb",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddressIndependentWeb"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/AddressIndependentWeb({Id})*" : {
      "get" : {
        "tags" : [ "AddressIndependentWeb" ],
        "summary" : "Get AddressIndependentWeb on Id",
        "description" : "Returns the EntitySet: AddressIndependentWeb<br /><br />The entity: AddressIndependentWeb supports the following navigational properties: <br />to_WebNote, to_Parent<br />For example: .../AddressIndependentWeb(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentWeb",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddressIndependentWeb"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "AddressIndependentWeb" ],
        "summary" : "Create a new entity AddressIndependentWeb",
        "description" : "Create a new entity in EntitySet: AddressIndependentWeb",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentWeb"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet AddressIndependentWeb",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AddressIndependentWeb" ],
        "summary" : "Delete AddressIndependentWeb",
        "description" : "Delete entity in EntitySet AddressIndependentWeb",
        "responses" : {
          "204" : {
            "description" : "EntitySet AddressIndependentWeb successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AddressIndependentWeb" ],
        "summary" : "Update entity AddressIndependentWeb",
        "description" : "Update an existing entity in EntitySet: AddressIndependentWeb",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentWeb"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentWeb",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: Id",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/AddressIndependentWebDummy*" : {
      "get" : {
        "tags" : [ "AddressIndependentWebDummy" ],
        "summary" : "Get AddressIndependentWebDummy",
        "description" : "Returns the EntitySet: AddressIndependentWebDummy<br /><br />The entity: AddressIndependentWebDummy supports the following navigational properties: <br />to_WebNote, to_Parent<br />For example: .../AddressIndependentWebDummy(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentWebDummy",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddressIndependentWebDummy"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/AddressIndependentWebDummy({Id})*" : {
      "get" : {
        "tags" : [ "AddressIndependentWebDummy" ],
        "summary" : "Get AddressIndependentWebDummy on Id",
        "description" : "Returns the EntitySet: AddressIndependentWebDummy<br /><br />The entity: AddressIndependentWebDummy supports the following navigational properties: <br />to_WebNote, to_Parent<br />For example: .../AddressIndependentWebDummy(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentWebDummy",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddressIndependentWebDummy"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "AddressIndependentWebDummy" ],
        "summary" : "Create a new entity AddressIndependentWebDummy",
        "description" : "Create a new entity in EntitySet: AddressIndependentWebDummy",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentWebDummy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet AddressIndependentWebDummy",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AddressIndependentWebDummy" ],
        "summary" : "Delete AddressIndependentWebDummy",
        "description" : "Delete entity in EntitySet AddressIndependentWebDummy",
        "responses" : {
          "204" : {
            "description" : "EntitySet AddressIndependentWebDummy successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AddressIndependentWebDummy" ],
        "summary" : "Update entity AddressIndependentWebDummy",
        "description" : "Update an existing entity in EntitySet: AddressIndependentWebDummy",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressIndependentWebDummy"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressIndependentWebDummy",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: Id",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/AddressInformation*" : {
      "get" : {
        "tags" : [ "AddressInformation" ],
        "summary" : "Get AddressInformation",
        "description" : "Returns the EntitySet: AddressInformation<br /><br />The entity: AddressInformation supports the following navigational properties: <br />to_AddressUsage, to_Address, to_Parent<br />For example: .../AddressInformation(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressInformation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddressInformation"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/AddressInformation({Id})*" : {
      "get" : {
        "tags" : [ "AddressInformation" ],
        "summary" : "Get AddressInformation on Id",
        "description" : "Returns the EntitySet: AddressInformation<br /><br />The entity: AddressInformation supports the following navigational properties: <br />to_AddressUsage, to_Address, to_Parent<br />For example: .../AddressInformation(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressInformation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddressInformation"
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "AddressInformation" ],
        "summary" : "Create a new entity AddressInformation",
        "description" : "Create a new entity in EntitySet: AddressInformation",
        "requestBody" : {
          "description" : "The entity to create",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressInformation"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "EntitySet AddressInformation",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "AddressInformation" ],
        "summary" : "Delete AddressInformation",
        "description" : "Delete entity in EntitySet AddressInformation",
        "responses" : {
          "204" : {
            "description" : "EntitySet AddressInformation successfully deleted",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "AddressInformation" ],
        "summary" : "Update entity AddressInformation",
        "description" : "Update an existing entity in EntitySet: AddressInformation",
        "requestBody" : {
          "description" : "The entity to update",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddressInformation"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressInformation",
            "content" : {
              "application/json" : { }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      },
      "parameters" : [ {
        "name" : "Id",
        "in" : "path",
        "description" : "Id supports: Id",
        "required" : true,
        "schema" : {
          "type" : "string"
        }
      } ]
    },
    "/AddressOrganizationName*" : {
      "get" : {
        "tags" : [ "AddressOrganizationName" ],
        "summary" : "Get AddressOrganizationName",
        "description" : "Returns the EntitySet: AddressOrganizationName<br /><br />The entity: AddressOrganizationName supports the following navigational properties: <br />to_Parent<br />For example: .../AddressOrganizationName(1)/to_Parent/.....",
        "parameters" : [ {
          "name" : "$expand",
          "in" : "query",
          "description" : "Expand a navigation property",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$filter",
          "in" : "query",
          "description" : "Filter items by property values",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "$select",
          "in" : "query",
          "description" : "Select structural property",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$orderby",
          "in" : "query",
          "description" : "Order items by property values",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "$top",
          "in" : "query",
          "description" : "Show only the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$skip",
          "in" : "query",
          "description" : "Skip the first n items",
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "$inlinecount",
          "in" : "query",
          "description" : "Include count of items",
          "schema" : {
            "type" : "string",
            "enum" : [ "allpages", "none" ]
          }
        }, {
          "name" : "$format",
          "in" : "query",
          "description" : "Response format",
          "schema" : {
            "type" : "string",
            "enum" : [ "atom", "xml", "json" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "EntitySet AddressOrganizationName",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AddressOrganizationName"
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "content" : {
              "application/json" : { }
            }
          }
        }
      }
    },
    "/AddressOrganizationName({Id})*" : {
      "get" : {
        "tags" : [ "AddressOrganizationName" ],
        "summary" : "Get AddressOrganizationName on Id",
[...]
