# Remove .sample to activate this file
#
# This file might be used to control individual settings 
# for a certain stage.
# 

# Perhaps setting force flag to false for production
force=true

# or ignore configured Client-Apps on production.
clientAppsMode=ignore