name: Publish Choco package

on:
  release:
    types: [published]

jobs:
  publish-choco-package:
    name: Publish Choco package
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      name: Check-Out
    - name: Debug
      uses: hmarr/debug-action@v1.0.0
    - name: Fetch release package
      uses: wyozi/download-gh-release-asset@master
      with:
        args: axway-apimcli-${{ github.event.release.tag_name }}.zip 
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
    - name: Move releas to tools
      run: |
        ls -l
        ls -l tools/choco/axway-apim-cli
        mv axway-apimcli-${{ github.event.release.tag_name }}.zip tools/choco/axway-apim-cli/tools
        ls -l tools
    - name: Adjust Nuspec version
      run: |
        sed -i 's|<version>.*</version>|<version>${{ github.event.release.tag_name }}</version>|g' tools/choco/axway-apim-cli/axway-apim-cli.nuspec
        cat tools/choco/axway-apim-cli/axway-apim-cli.nuspec
        sed -i "s/\$fileLocation = Join-Path \$toolsDir 'axway-apimcli-.*.zip'/\$fileLocation = Join-Path \$toolsDir 'axway-apimcli-${{ github.event.release.tag_name }}.zip'"/g tools/choco/axway-apim-cli/tools/chocolateyinstall.ps1
        cat tools/choco/axway-apim-cli/tools/chocolateyinstall.ps1
    - uses: crazy-max/ghaction-chocolatey@v1
      name: Choco pack 
      with:
        args: pack tools/choco/axway-apim-cli/axway-apim-cli.nuspec
    - name: Push changes
      uses: EndBug/add-and-commit@v9
      with:
        message: 'Choco version updated'
    - uses: crazy-max/ghaction-chocolatey@v1
      name: Choco push
      with:
        args: push --api-key ${{ secrets.CHOCO_API_KEY }} axway-apim-cli.${{ github.event.release.tag_name }}.nupkg